$dark-blue: #22455f;
$teal: #5e8a8f;
$green: #7da78c;
$cream: #eeece4;

$montserrat: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;

$font-family-sans-serif: $open-sans;
$headings-font-family: $montserrat;
$headings-color: $teal;
$body-color: $dark-blue;

$primary: $dark-blue;
$light: $cream;

$body-bg: #666;